.player {
    width: 300px;
    display: flex;
    align-items: center;
    border-radius: 50px 0 0 50px;

    // background-color: rgb(157, 98, 66);
    background-color: rgb(211, 211, 211, 0.7);

    span {
        font-size: 32px;
        margin-left: 16px;
    }

    img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 100%;
        margin-left: 10px;
    }
}

.player-active {
    background-color: rgb(255, 165, 0, 0.7);
}